// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #e3e3e3;
@light-gray: #848484;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #121212;

@cyan: #8abeb7;
@blue: #81a2be;
@purple: #b294bb;
@green: #88E47E;
@red: #cc6666;
@orange: #de935f;
@light-orange: #f0c674;
@yellow: #F5EF63;
